tr
  td.bold  Filter

  td
    'start_from:
  td
    = notification.filter.start_from
  td
    'start_to:
  td
    = notification.filter.start_to
  td
    'start_date:
  td
    = date_format(notification.filter.start_date) if notification.filter.start_date
  td
    'max_distance:
  td
    = notification.filter.max_distance

tr
  td.bold  Event

  td
    'start_at:
  td
    = date_format(notification.event.start_at)
  td
    'end_at:
  td
    = date_format(notification.event.end_at)
  td
  td
  td
    'distance:
  td
    = notification.event.distance_from(current_user).to_i