.page-header
  h1
    | Notifications

.table-responsive
  table.table.table-striped.table-hover
    thead
      tr
        th colspan="9"
    tbody
      - @notifications.each do | notification |
        = render 'notification', notification: notification
        tr
          td.h-50 colspan="9" = link_to 'Show', notification_path(notification)
        tr
          td.h-50 colspan="9"
