.page-header
  h1
    | Notification

.table-responsive
  table.table.table-striped.table-hover
    thead
      tr
        th colspan="4"
    tbody
      = render 'notification', notification: @notification