= simple_form_for(@event, remote: true, format: :json) do |f|
  = f.error_notification

  = f.input :name
  = f.input :start_at, as: :string, input_html: {class: 'datetimepicker'}
  = f.input :end_at, as: :string, input_html: {class: 'datetimepicker'}
  = f.input :latitude
  = f.input :longitude

  .form-actions
    = f.button :submit, 'Save Event', class: 'pull-right', id: 'save_event'