h1 Events

= render 'filters/form'
.form-actions.find_events_wrapper
  input id="find_events" data-action="#{api_search_events_path}" onclick="App.filters.find($(this));" type="submit" value="Find Events" class="btn btn-primary pull-left"

.clearfix

table#events_table.table.mt-40
  = render 'event'
