#main-content
  margin-bottom: 40px

h3
  margin-bottom: 20px

.btn-header
  float: right
  margin-top: -3px

.nav-right
  float: right

ul.pagination
  display: table
  margin: 40px auto 0px

.bold
  font-weight: bold
.h-50
  height: 50px
.none
  display: none
.form-group
  float: left
  margin-right: 10px
#new_filter
  .form-actions
    margin-top: 25px
    float: right
.find_events_wrapper
  float: right
  margin-top: 25px
  margin-right: 20px