= simple_form_for(@filter, url: api_filters_path(format: :json), remote: true) do |f|
  = f.error_notification

  = f.input :start_from, input_html: {class: 'hourpicker'}
  = f.input :start_to, input_html: {class: 'hourpicker'}
  = f.input :start_date, as: :select, collection: Date::DAYNAMES.map { |day| day }
  = f.input :max_distance
  = f.input :game_ids, collection: Game.all, input_html: { multiple: true }
  /.clearfix
  .form-actions
    = f.button :submit, 'Save Filter', class: 'pull-right', id: 'save_filter'
    /.clearfix