.page-header
  h1
    | Listing filters

.table-responsive
  table.table.table-striped.table-hover
    thead
      tr
        th
          |start_from
        th
          |start_to
        th
          |start_date
        th
          |max_distance
        th
          | games
        th
    tbody
      - @filters.each do | filter |
        tr
          td = filter.start_from
          td = filter.start_to
          td = date_format(filter.start_date) if filter.start_date.present?
          td = filter.max_distance
          td = Game.where(id: filter.game_ids).pluck(:name).join(',')
          td = link_to 'Destroy', filter, method: :delete, data: { confirm: 'Are you sure?' }
